/* Use overlapping grids for weapon stack and discard viewer? */

body {
    background-color: gray;
    background-image: url(./images/BackgroundDungeonWall.jpg);
    background-size: cover;
    display: grid;
    grid-template-rows: 10rem 1fr 1fr 5rem;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
    gap: 1rem;
    font-family: "Pixelify Sans", sans-serif;
}

/* Layout */

img {
    width: 100%;
    height: auto;
}

.grid-layout {
    display: flex;
}

div {
    margin: auto;
}

#header {
    grid-area: 1 / 1 / 2 / 7;
}

/* Room Line */

#dungeon {
    grid-area: 2 / 1 / 3 / 2;
    width: 50%;
}

#room-1 {
    grid-area: 2 / 2 / 3 / 3;
}

#room-2 {
    grid-area: 2 / 3 / 3 / 4;
}

#room-3 {
    grid-area: 2 / 4 / 3 / 5;
}

#room-4 {
    grid-area: 2 / 5 / 3 / 6;
}

#discard {
    grid-area: 2 / 6 / 3 / 7;
    width: 50%;
}

/* Stats/Player Line */

#reset {
    grid-area: 3 / 1 / 4 / 2;
    background-color: rgb(97, 95, 95);
    border-radius: 20%;
}

#reset:hover, #flee:hover {
    cursor: pointer;
    background-color: rgb(110, 109, 109);
}

#weapon {
    grid-area: 3 / 3 / 4 / 4;
}

#health {
    grid-area: 3 / 4 / 4 / 5;
}

#flee {
    grid-area: 3 / 6 / 4 / 7;
    background-color: rgb(97, 95, 95);
    border-radius: 20%;
}

#footer {
    grid-area: 4 / 1 / 5 / 7;
}

p {
    text-align: center;
    color: white;
    padding: 1rem;
}

/* Styling */

h1 {
    color: white;
    font-size: 5rem;
    font-weight: 800;
}

.text-over-img {
    position: relative;
    text-align: center;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    color: white;
}
